# Ignore VS Code settings
.vscode/

# Ignore Python virtual environments
marl-project-venv2/
venv/
marl_venv/

# Ignore pytest cache
.pytest_cache/
__pycache__/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore logs and temporary files
*.log
*.tmp

# Ignore environment variables (optional)
.env


# wandb logs
src/wandb/