# Ignore VS Code settings
.vscode/

# Ignore Python virtual environments
marl-project-venv2/
venv/
marl_venv/

# Ignore pytest cache
.pytest_cache/
__pycache__/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore logs and temporary files
*.log
*.tmp

# Ignore environment variables (optional)
.env


# wandb logs
src/wandb/

# npz tables
src/baselines/CQL/centeral_cql_q_table.npz
src/baselines/IQL/predator_1/
src/baselines/IQL/predator_2/
src/baselines/IQL/prey_1/
src/baselines/IQL/prey_2/



# logs
src/baselines/CQL/logs/
src/baselines/IQL/logs/